@import './variables.scss';
@import './normalize.scss';

html {
   scroll-behavior: smooth;
}

body {
   height: 100%;
   @include default-text();
   font-family: var(--font-family);
}

#root {
   height: 100%;
}
