.content {
   &__title {
      font-size: 12px;
      line-height: var(--line-h-text-small);
   }
   @media (min-width: 1280px) {
      display: flex;
      align-items: center;
      column-gap: 24px;
      &__title {
         flex: 0 0 179px;
         font-size: var(--font-s-smallest);
      }
   }
}
